/* Font Styling */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #16243b;
  --clr-primary-2: #1e2023;
  --clr-primary-3: #f7df1e;
  --clr-primary-4: #121212;
  --clr-primary-5: #a24d4b;
  --clr-primary-6: #1e1428;
  --clr-primary-7: #b6789e;
  --clr-primary-8: #5f64a4;
  --clr-primary-9: #7895cd;
  --clr-primary-10: #1e1428;

  --page-padding: 5rem 0;
  --padding: 1.5rem 0;
  --margin: 0 10rem;
  --font-size: 1.75rem;
  --font-weight: 400;
  --card-font-size: 1.2rem;
  --wrap-width: 40vw;
  --hover-shadow: 0 4px 6px rgba(170, 167, 167, 0.2);
}

/* Global Styling */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 2em;
  font-weight: 500;
  color: rgb(222, 222, 222);
  font-family: Roboto, sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  background-color: var(--clr-primary-1);
}

.outletContainer {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    hsl(214, 10%, 14%) 0%,
    hsl(215, 17%, 14%) 20%,
    hsl(216, 24%, 16%) 29%,
    hsl(219, 30%, 18%) 36%,
    hsl(219, 38%, 16%) 43%,
    hsl(217deg 46% 22%) 50%,
    hsl(218deg 38% 22%) 57%,
    hsl(218, 31%, 17%) 64%,
    hsl(217, 24%, 15%) 71%,
    hsl(218, 15%, 14%) 80%,
    hsl(214, 10%, 14%) 100%
  );
}

ul {
  list-style-type: none;
}

a {
  color: whitesmoke;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
}

/* global style for link icons */

@media screen and (max-width: 900px) {
  :root {
    --margin: 0 2rem;
    --padding: 0.5rem;
    --wrap-width: 80vw;
  }

  .aboutMeContainer {
    height: auto;
    padding: 1rem;
  }

  .articleContainer {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .article {
    width: auto;
  }

  .footerBlocksContainer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .footerLinksContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    --margin: 0 5rem;
    --padding: 1rem;
  }

  .articleContainer {
    display: flex;
    justify-content: center;
    margin: var(--margin);
  }

  .article {
    width: 100%;
  }
}
